@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.pad {
    margin: 20px;
}

.img-c {
    display: block;
    margin: auto;
}

.wrapper {
    max-width: 640px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
  }

p, li {
    font-family:"Helvetica Neue", sans-serif;
    /* font-family:"Times New Roman", serif; */
    font-weight: 400;
    font-size: 1em;
}

h1 {
    font-family:"Source Code Pro","Courier New", Courier, monospace;
    /* font-family:"Times New Roman", serif; */
    font-weight: 700;
    font-size: 2em;
}

h2 {
    font-family:"Source Code Pro","Courier New", Courier, monospace;
    /* font-family:"Times New Roman", serif; */
    font-weight: 900;
    font-size: 1.5em;
}

/* h2 span {
    background-color:#d4e8fc;
} */

a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    background-color: transparent;
}

a:hover {
    background-color: #d7d0ff;
}

::selection {
    background: #b3dcff;
}

@media (max-width: 640px){
    .wrapper {
        padding: 0px 30px;
    }
}

.new {
    background-color: #fcef8a;
} 