body {
    background-color: #fcf8f0;
    background-image: url("/clouds-b.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

.pad {
    margin: 20px;
}

.img-c {
    display: block;
    margin: auto;
}

.wrapper {
    max-width: 640px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
  }

p, li {
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

h1 {
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 2em;
}

h2 {
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color:#d7d0ff;
    text-decoration-thickness: 2px;
    background-color: transparent;
}

a:hover {
    background-color: #d7d0ff;
    text-decoration-line: none;
}

.caption, .caption a {
    font-size: 0.7em;
    text-align: right;
    color: #999999;
}

::selection {
    background: #b3dcff;
}

@media (max-width: 640px){
    .wrapper {
        padding: 0px 30px;
    }
}

.new {
    background-color: #fcef8a;
} 

.img-fixed {
    position: fixed;
    width: 20%;
    top: 30%;
    right: 5%;
}