body {
    cursor: url(images/xp.cur), auto;
}

.wrapper {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 90vh;
}

.bio {
    padding-top: 20px;
}

img {
    width: 75%;
}

p, li, h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0px;
}

span {
    cursor: url(images/text.cur), auto;
}

h1 {
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
    margin: 20px 0px 0px 0px;
}

a {
    color: black;
    cursor: url(images/link.cur), auto;
}

.hover {
    text-decoration: underline;
}

.hover-m:hover, body:has(.hover-m:hover) .m {
    background-color: #caffaf;
}

.hover-g:hover, body:has(.hover-g:hover) .g {
    background-color: #89f9e3;
}

.hover-t:hover, body:has(.hover-t:hover) .t {
    background-color: #90e6ff;
}

.hover-p:hover, body:has(.hover-p:hover) .p {
    background-color: #c2ccff;
}

a:hover {
    background-color: yellow;
    text-decoration: none;
}

a.li1 {
    display: inline;
}

a.li2 {
    display: none;
}

@media (max-width: 640px){
    .wrapper {
        padding: 0px 30px;
    }

    img {
        width: 100%;
    }
}